(
    name: "",
    property_manager: (
        entries: {
            "speed": (
                value: F32(
                    value: 1.0,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 100.0,
                    step_size: 1.0,
                ),
            ),
            "fTime": (
                value: F32(
                    value: 1.0,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 100.0,
                    step_size: 1.0,
                ),
            ),
            "fx1_col0_rgb": (
                value: Vec3F32(
                    values: (0.7643205, 0.7643205, 0.7643205),
                ),
                config: ColorRgb(),
            ),
            "fx2_col0_rgb": (
                value: Vec3F32(
                    values: (0.76399815, 0.62032735, 0.039522108),
                ),
                config: ColorRgb(),
            ),
            "fx1_col1_rgb": (
                value: Vec3F32(
                    values: (0.34246185, 0.02709229, 0.6168816),
                ),
                config: ColorRgb(),
            ),
            "fx2_col1_rgb": (
                value: Vec3F32(
                    values: (0.02730583, 0.0, 0.55574995),
                ),
                config: ColorRgb(),
            ),
        },
    ),
    resource_manager: (
        resources: {
            "umeX0hZneUZlMWyEbu_GT": Text((
                name: "vert",
                file: Some("/Users/anti/data/work/anti666tv/sixtyFour-rs-projects/sixtyFour-rs-example-projects/2024-05-01b/default.vert.glsl"),
                version: 29,
            )),
            "Zm2nwFQDp3eQGuZldHMRA": Program((
                shaders: [
                    (
                        shader_type: Fragment,
                        resource_id: "ZceRIiX0USxGW--ZXAWac",
                    ),
                    (
                        shader_type: Vertex,
                        resource_id: "umeX0hZneUZlMWyEbu_GT",
                    ),
                    (
                        shader_type: Fragment,
                        resource_id: "5QDQvyHS3AoFeY5_ZTJiG",
                    ),
                ],
            )),
            "ZceRIiX0USxGW--ZXAWac": Text((
                name: "frag",
                file: Some("/Users/anti/data/work/anti666tv/sixtyFour-rs-projects/sixtyFour-rs-example-projects/2024-05-01b/default.frag.glsl"),
                version: 46,
            )),
            "5QDQvyHS3AoFeY5_ZTJiG": Text((
                name: "frag2",
                file: None,
                version: 0,
            )),
        },
    ),
)