(
    name: "",
    property_manager: (
        entries: {
            "color0_rgb": (
                value: Vec3F32(
                    values: (0.07722993, 0.44159526, 0.40966243),
                ),
                config: ColorRgb(),
            ),
            "color1_rgb": (
                value: Vec3F32(
                    values: (0.45604062, 0.43676537, 0.1455184),
                ),
                config: ColorRgb(),
            ),
            "default_pal[0]": (
                value: Vec3F32Size4(
                    values: (0.4, 0.7, 1.0, 0.3, 1.0, 1.0, 0.6, 1.6, 1.7, 0.7, 0.9, 0.0),
                ),
                config: ColorPal(),
            ),
            "dtweak": (
                value: F32(
                    value: 51.0,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 100.0,
                    step_size: 1.0,
                ),
            ),
            "fMouseClick": (
                value: Vec2F32(
                    values: (-0.5233987, 0.8121642),
                ),
                config: F32(
                    min_value: -1.5,
                    max_value: 1.5,
                    step_size: 0.001,
                ),
            ),
            "fMouseHover": (
                value: Vec2F32(
                    values: (0.93184245, -0.9826335),
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 100.0,
                    step_size: 1.0,
                ),
            ),
            "fTime": (
                value: F32(
                    value: 0.0,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 100.0,
                    step_size: 1.0,
                ),
            ),
            "new_property": (
                value: F32(
                    value: 25.0,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 100.0,
                    step_size: 1.0,
                ),
            ),
            "not_gamma": (
                value: F32(
                    value: 2.5,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 10.0,
                    step_size: 0.01,
                ),
            ),
            "offset0": (
                value: Vec2F32(
                    values: (0.0, 0.0),
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 100.0,
                    step_size: 1.0,
                ),
            ),
            "offset1": (
                value: Vec2F32(
                    values: (0.0, 0.0),
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 10.0,
                    step_size: 0.01,
                ),
            ),
            "offset_mix": (
                value: F32(
                    value: 0.0,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 1.0,
                    step_size: 0.0001,
                ),
            ),
            "palette_a": (
                value: Vec3F32(
                    values: (0.96999997, 0.07, 0.83),
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 1.0,
                    step_size: 0.01,
                ),
            ),
            "palette_b": (
                value: Vec3F32(
                    values: (0.95, 0.28, 0.45999998),
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 1.0,
                    step_size: 0.01,
                ),
            ),
            "palette_c": (
                value: Vec3F32(
                    values: (0.79999995, 0.19999999, 0.39999998),
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 5.0,
                    step_size: 0.01,
                ),
            ),
            "palette_d": (
                value: Vec3F32(
                    values: (0.5, 0.9, 0.19999999),
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 2.0,
                    step_size: 0.01,
                ),
            ),
            "speed": (
                value: F32(
                    value: 0.1,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 10.0,
                    step_size: 0.1,
                ),
            ),
            "sphere_pal[0]": (
                value: Vec3F32Size4(
                    values: (1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.6, 1.6, 0.8, 1.0, 1.0, 1.7),
                ),
                config: ColorPal(),
            ),
            "the_layout": (
                value: F32(
                    value: 0.0,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 3.0,
                    step_size: 1.0,
                ),
            ),
            "zoom0": (
                value: F32(
                    value: 5.0,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 100.0,
                    step_size: 0.1,
                ),
            ),
            "zoom1": (
                value: F32(
                    value: 5.0,
                ),
                config: F32(
                    min_value: 0.0,
                    max_value: 100.0,
                    step_size: 1.0,
                ),
            ),
        },
    ),
    resource_manager: (
        resources: {
            "Zm2nwFQDp3eQGuZldHMRA": Program((
                shaders: [
                    (
                        shader_type: Fragment,
                        resource_id: "ZceRIiX0USxGW--ZXAWac",
                    ),
                    (
                        shader_type: Vertex,
                        resource_id: "umeX0hZneUZlMWyEbu_GT",
                    ),
                ],
            )),
            "umeX0hZneUZlMWyEbu_GT": Text((
                name: "vert",
                file: Some("default.vert.glsl"),
                version: 29,
            )),
            "ZceRIiX0USxGW--ZXAWac": Text((
                name: "frag",
                file: Some("default.frag.glsl"),
                version: 994,
            )),
        },
    ),
)